.gZWIKX {
    min-height: 38px !important;
     background: #F8FAFC !important;
     border: 1px solid #F3F3F3 !important;
   
 }
 
 
 /* .dqmQwT input{
     background: #FFFFFF;
 border: 0.5px solid #E4DFDF !important;
 border-radius: 2px !important;
 } */
 .OHwJB {
     display: none;
 }
 .page-title-header p{ 
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 13px;
 line-height: 15px;
 align-items: center;
 }
 .page-title-header span{
     font-weight: 500;
     font-size: 17px !important;
     line-height: 20px !important;
     color: #475569;
     }
 .TUEFO {
     min-height: 0px !important;
 }
 .gnaqej {
    
     margin-left: 10px !important;
     background: #FFFFFF;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 12px;
     line-height: 15px;
     /* identical to box height */
     
     
     color: #475569;
 border: 1px solid #E4E4EC;
 border-radius: 5px;
 height: 29px
 }
 .kgEPYv {
     height: 80px !important;
 }
 .bnAwAJ [data-row-id="1"]{
     max-width: 10% !important;
     min-width: 10px !important;
 }
 
 .kBhHpT {
     position: absolute;
     left: 65px;
     font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 font-size: 13px;
 line-height: 15px;
 display: flex;
 align-items: center;
 
 color: #475569;
 }
 .eyvuNL{
     background: #CBD5E1;
 border-radius: 5px;
 margin-left: 25px !important;
 float: right !important;
 }
 .jzGaAN {
     padding-left: 10px !important;
     padding-right: 0px !important;
     text-align: center !important;
   
 }
 .form-switch .form-check-input {
     width: 2.5em;
     margin-left: 0.5em !important;
     background-position: left center;
   
 }
 .invoiceDisplay{
    display: none;
 }
 .eUeqdG {
      
         white-space: inherit;
         text-overflow: ellipsis;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 13px;
     line-height: 16px;
     display: flex;
     align-items: center;
     color: #475569;
 }